substitutions:
  name: home-assistant-voice-0994f1
  friendly_name: Home Assistant Voice 0994f1
packages:
  Nabu Casa.Home Assistant Voice PE: github://esphome/home-assistant-voice-pe/home-assistant-voice.yaml
esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}
api:
  encryption:
    key: 0zOOy90Xa/vkNhEgNcBKBsNPnWUZhfjAUKiVuigBqQY=


wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
